name: Deploy to FTP

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Fix path
        id: path
        run: echo "dir=${{ secrets.FTP_PATH }}/" >> $GITHUB_OUTPUT

      - name: Upload
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          protocol: ftps
          passive: true
          timeout: 60000
          dangerous-clean-slate: true
          server-dir: ${{ steps.path.outputs.dir }}
